@model IEnumerable<ComicStore.Models.ProductViewModel>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Index";
    var index = 0;
    int currentPage = 1;
    if (ViewBag.CurrentPage != null) currentPage = ViewBag.CurrentPage;

}


<div style="margin-left: 10px; display:flex;">
    <h3>@ViewData["CateName"] Product list</h3>

    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" asp-controller="Product" asp-action="Index">
        <div class="input-group">
            <div style="border: 2px solid #858796; border-radius: 5px 0 0 5px">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                       aria-label="Search" aria-describedby="basic-addon2" name="searchName">
            </div>

            <div class="input-group-append">
                <button class="btn btn-primary d-none d-sm-inline" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>
    <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown no-arrow d-sm-none">
        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-search fa-fw"></i>
        </a>
        <!-- Dropdown - Messages -->
        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                 aria-labelledby="searchDropdown" style="width:300px">
                <form class="form-inline mr-auto w-100 navbar-search" asp-action="Index" asp-controller="Product">
                <div class="input-group">
                    <div style="background-color:white">
                        <input type="text" class="form-control bg-light border-0 small"
                           placeholder="Search for..." aria-label="Search" name="searchName"
                           aria-describedby="basic-addon2">
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </li>
   </ul>
    @if(User.Identity.IsAuthenticated && User.IsInRole("Manager")){
        <a asp-action="Create" id="createBtn" style="margin-bottom:10px; height:37px;" class="btn btn-success" asp-route-cateName="@ViewData["CateName"]"><span>Create New</span></a>
    }
    <div class="col-sm-3" id="sortMenu">
        <select class="form-control" onchange="location = this.value;" style="width:150px">
            <option value="">Sort by price</option>
            <option value="@Url.Action("Index", new { cateName = ViewData["CateName"], sortType = "priceIncrease" })">Increase</option>
            <option value="@Url.Action("Index", new { cateName = ViewData["CateName"], sortType = "priceDecrease" })">Decrease</option>
        </select>
        <div style="margin-right:12px"></div>
        <select class="form-control" onchange="location = this.value;" style="width:150px">
            <option value="">Sort by name</option>
            <option value="@Url.Action("Index", new { cateName = ViewData["CateName"], sortType = "nameIncrease" })">A -> Z</option>
            <option value="@Url.Action("Index", new { cateName = ViewData["CateName"], sortType = "nameDecrease" })">Z -> A</option>
        </select>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Category
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(index + 1 + (currentPage -1)*5)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>

                <td>
                    $ @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <img src="@item.ImagePath" width="100" />
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" asp-route-cateName="@ViewData["CateName"]" asp-route-currentPage="@currentPage" 
                    class="btn btn-secondary"><i class="fa-solid fa-circle-info"></i></a>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Manager"))
                    {
                        <a asp-action="Edit" asp-route-cateName="@ViewData["CateName"]" asp-route-currentPage="@currentPage" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa-solid fa-pen"></i></a>
                        <a asp-action="Delete" asp-route-cateName="@ViewData["CateName"]" asp-route-currentPage="@currentPage" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                    }
                </td>
            </tr>
            index++;
        }
    </tbody>
</table>

<br />

<div class="pagination">
    @Html.PagedListPager((IPagedList) Model, page => Url.Action("Index", new {page = page, cateName=@ViewData["CateName"], sortType=ViewData["SortType"], searchName = ViewData["SearchName"]}),
    new X.PagedList.Web.Common.PagedListRenderOptions {
    LiElementClasses = new string[] {"page-item"},
    PageClasses = new string[] { "page-link" }
    })
</div>

<style>
    .pagination {
        margin-left:480px
    }

    #sortMenu{
        display:flex
    }

    @@media(max-width: 1400px){
        h3 {
            display: none;
        }

        #sortMenu{
            margin-right:120px
        }
    }

    @@media (max-width: 576px) {
        h3{
            display:none;
        }

        #createBtn span{
            display: none;
        }

        #createBtn::after{
            content: "Create";
        }

        #createBtn{
            margin-left:20px;
        }


       .container, .container-sm {
            max-width: 540px
        }

        .table td:nth-child(7){
            display:block
        }

        .table th:nth-child(3),
        .table td:nth-child(3),
        .table th:nth-child(4),
        .table td:nth-child(4),
        .table th:nth-child(5),
        .table td:nth-child(5) {
            display: none;
        }

        .pagination{
            margin-left: 0
        }

        #sortMenu{
            display:block
        }



    }
</style>