@model ComicStore.Models.ProductViewModel

@{
    Layout = "_clientLayout";
}
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>


<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__left product__thumb nice-scroll">
                        <a class="pt active" href="#product-1">
                            <img src="@Model.ImagePath" alt="">
                        </a>
                        
                    </div>
                    <div class="product__details__slider__content">
                        <div class="product__details__pic__slider owl-carousel">
                            <img data-hash="product-1" class="product__big__img" src="@Model.ImagePath" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product__details__text">
                    <h3>@Model.Name <span>Brand: @Model.Brand - @Model.Category.CategoryName</span></h3>
                    @*<div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <span>( 138 reviews )</span>
                    </div>*@
                    <div class="product__details__price">$ @Model.Price</div>
                    <p>
                       Description: @Model.Description
                    </p>
                    <div class="product__details__button">
                        <div class="quantity">
                            <span>Quantity:</span>
                            <div class="pro-qty">
                                <input type="number" value="1" max="@Model.Quantity" min="1">
                            </div>
                        </div>
                        <a href="#" class="cart-btn"><span class="icon_bag_alt"></span> Add to cart</a>
                     
                    </div>
                    <div class="product__details__widget">
                        <ul>
                            <li>
                                <span>Availability:</span>
                                   @if(Model.Quantity < 0)
                                    {
                                        <label for="stockin">
                                            Out of Stock
                                        </label>
                                    }
                                    <label for="stockin">
                                        In Stock
                                    </label>
                            </li>
                            <li>
                                <span>Supplier:</span>
                                <p>@Model.Supplier.SupplierName</p>
                            </li>
                            <li>
                                <span>Promotions:</span>
                                <p>Free shipping</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
         
        </div>
        <div style="margin-bottom:70px"></div>
        <partial name="_relatedProductPartial" />

    </div>
</section>
<!-- Product Details Section End -->
